@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

* {
	font-weight: 500;
}
body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
} */

* {
	/* border-radius: 10px 10px 20px 20px; */
	border-color: black;
	text-align: center;
}
div,
h1,
h2,
h3 {
	border-radius: 20px 20px 0 0;
}
li {
	text-align: start;
}
h1 {
	/* font-size: large; */
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
	font-weight: 700;
}
h2 {
	font-size: 1.5rem;
	line-height: 2.25rem /* 36px */;
	font-weight: 600;
}
h3 {
	font-size: large;
	font-weight: 500;
}
p {
	font-weight: 500;
}
b {
	font-size: large;
}

@keyframes growAnimation {
	0% {
		padding: 10px;
	}
	100% {
		padding: 15px;
	}
}

button {
	background-image: linear-gradient(to top left, rgb(255, 80, 80), white);
	border-radius: 15px;
	padding: 10px;
	box-shadow: 0 0 1px 1px pink;
}
.growAnimation,
button:hover {
	animation: growAnimation infinite alternate 0.5s;
}

a {
	color: blue;
}
